<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy;  <%= link_to "I have no website so GOOGLE","https://google.com" ,class:"text-white"%> </small> 
    </div>
</footer>
